<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>298228729066-8pvti4rie86gcm35pktd5p497ck67ne6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJwL5Sga6m6xvxUVf_yAil6R48AJfs0xE</string>
	<key>GCM_SENDER_ID</key>
	<string>298228729066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swash.executor</string>
	<key>PROJECT_ID</key>
	<string>washwash-kenherli</string>
	<key>STORAGE_BUCKET</key>
	<string>washwash-kenherli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298228729066:ios:f30c1d135a68f03c424393</string>
</dict>
</plist>